
<h1>This is some shit</h1>

<div class="table-responsive" ng-controller="cmScheduleCtrl">
<input ng-model="date"></input>
<table class="table table-bordered table-hover">
  <thead>
    <div class="row">
      <div class="col-xs-2">
      <button type="button" class="btn btn-default form-control" ng-click="move(-1)"><i class="glyphicon glyphicon-chevron-left"></i></button>
    </div>
    <div class="col-xs-8">

    </div>
    <div class="col-xs-2">
    <button type="button" class="btn btn-default form-control" ng-click="move(1)"><i class="glyphicon glyphicon-chevron-right"></i></button>
  </div>
  <th>Time</th>
  <th>Channel 1</th>
  <th>Channel 2</th>
  <th>Channel 3</th>
  <th>Channel 4</th>
</thead>
  <tr ng-repeat="slot in timeslots">
    <td>{{slot.time.display}}</td>
    <td ng-repeat="ch in channels" ng-if="slot[ch]" rowspan="{{slot[ch].span}}">
      <h5>{{slot[ch].title}}</h5>
      <p><em>{{slot[ch].category}}</em><p>
    </td>
  </tr>
</table>
</div>

<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  <h3 class="text-muted">schedule</h3>
</div>

<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div>

<div class="footer">
  <p><span class="glyphicon glyphicon-heart"></span> from the Yeoman team</p>
</div>
